<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coming soon!</title>
	<link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
	<div class="min-h-screen bg-gray-900 flex flex-col items-center justify-center">
		<h1 class="text-5xl text-white font-bold mb-8 animate-pulse">
			(҂ `з´) ︻╦̵̵̿╤── Coming Soon ╾━╤デ╦︻(•⤙•)
		</h1>
		<p class="text-white text-lg mb-8">
			We're working hard to bring you something amazing. Stay tuned!
		</p>
		<a href="/"
            class="relative inline-flex items-center justify-center px-8 py-4 text-lg font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
            role="button">◀ Go to main page
        </a>
	</div> 
</body> 
</html>
