<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CS2 Parser</title>


    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/modal-side-bar.css">

    <link rel="stylesheet" href="/css/media/index_media.css">


    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
</head>
<body>
<header>
    <div class="title">
        <h1>Sticker Price Parser</h1>
    </div>
    <div class="balance">
        <h3></h3>
    </div>
    <div class="header_left">
        <a href="" class="button_burger" id="button-open-settings">
            <img src="img/icons/icon_button_burger.svg" alt="">
        </a>
    </div>
    <div class="header_right">
        <div class="links">
            <a href="/coming-soon" class="link">
                <span><img src="img/icons/icon_twitter.svg" alt=""></span>
                Twitter
            </a>

            <!-- <a href="/coming-soon" class="link">
                <span><img src="img/icons/icon_vk.svg" alt=""></span>
                Vkontakte
            </a> -->

            <a href="/coming-soon" class="link">
                <span><img src="img/icons/icon_telegram.svg" alt=""></span>
                Telegram
            </a>
        </div>
        <!-- <button class="button_account">Enter code</button> -->
        <div style="display: none"id="popupBtn">
            <p style="color: antiquewhite;"><strong></strong></p>
            <button id="closeBtn">×</button>
        </div>
        <% if (!user) { %>
            <button class="button_account">Link Steam</button>
        <% } else { %>
            <img src='<%= user.photo %>' alt='Your Avatar Image' />
            <button class="button_account">Logout</button>
        <% } %>
        <!-- <div id="popupBtn">
            <p style="color: antiquewhite;"><strong>Enter your code:</strong></p>
            <input class="button" type="text" id="codeInput">
            <button class="button" id="submitAccButton">Submit</button>
            <br>
            <p style="color: antiquewhite;"><strong>Status: </strong><span class="account_status"></span></p>
            <button id="closeBtn">×</button>
        </div> -->
    </div>
</header>

<main>
    <div class="block_info">
        <div class="block_info__buttons">
            <a href="/parse-with-float" class="button">Float Parser</a>
            <a href="/coming-soon" class="button">Katowice2014</a>
            <a href="/coming-soon" class="button">Default price</a>
            <a href="/coming-soon" class="button">Extra price</a>
        </div>

        <div class="block_info__window">
            <div class="checkbox_autobuy">
                <input type="checkbox" id="autobuy" name="autobuy" />
                <label for="autobuy">Autobuy</label>
            </div>
            <div class="window_header">
                <a href="" class="header_button" id="button-run">
                    <img src="img/icons/icon_run.svg" alt="">
                    <span>Run</span>
                </a>
                <a href="" class="header_button" id="button-clear">
                    <img src="img/icons/icon_clear.svg" alt="">
                    <span>Clear</span>
                </a>
            </div>
                
            <div class="window_text" data-simplebar data-simplebar-auto-hide="false">
                <div class="text">
                </div>

<!--                <div class="text">-->
<!--                    <h3>Lorem ipsum dolor sit amet</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus numquam beatae vitae? Architecto perferendis, nisi iure sit veniam consectetur illo repellat soluta nihil vel magni mollitia minus cupiditate molestias. Commodi.</p>-->
<!--                    <p class="text_mini">Lorem ipsum dolor</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus numquam beatae vitae? Architecto perferendis, nisi iure sit veniam consectetur illo repellat soluta nihil vel magni mollitia minus cupiditate molestias. Commodi.</p>-->
<!--                </div>-->

                <div class="text">
                </div>
            </div>
            
            
        </div>
        
    </div>
    <a href="" class="open-modal-side-bar" id="">
        <img src="img/icons/open-side-bar.svg" alt="">
    </a>
    <div class="modal">
        <div class="block_info__window">
            <div class="window_header">
                
                <input type="" placeholder="Item name" class="header_input" id="goodsId">
                <a href="" class="header_button" id="button-add">
                    <img src="img/icons/add.svg" alt="">
                </a>
                <a href="" class="header_button" id="button-delete">
                    <img src="img/icons/delete.svg" alt="">
                </a>
            </div>
                
            <div class="window_text" data-simplebar data-simplebar-auto-hide="false">

               <div class="text">
                
                  <!-- <div class="item-container">
                    <div class="item-name">Specialist Gloves | Marble</div>
                    <div class="float-range">
                        <input type="number" placeholder="0.015" name="minFloat">
                        <input type="number" placeholder="0.025" name="maxFloat">
                    </div>
                  </div> -->
                
               </div>

            </div>
            
            
        </div>
    </div>

    
    <div class="patterns">
        <img src="img/patterns/ellipse.svg" alt="">
    </div>
    
</main>


<div class="popup_settings none">
    <div class="popup__body">

        <div class="popup__content" data-simplebar data-simplebar-auto-hide="false">
            <div class="popup_header">
                <div class="popup__close">
                    <img src="img/icons/icon_button_burger.svg" alt="">
                </div>

                <h1>Settings</h1>
            </div>

            <div class="popup_main">
                <div class="block_two_small">
                    <div class="small_block block_range">
                        <div class="text">
                            <p>% Minimal profit for item</p>
                        </div>

                        <div class="block_value">
                            <p class="block_value__text">Min Profit</p>

                            <input type="text" name="minProfit" value="1" id="input-value">
                        </div>

                        <input type="range" name="minProfit" min="0" max="100" value="1" id="range-value">
                    </div>

                    <div class="small_block block_range">
                        <div class="text">
                            <p>% Overpayment for stickers</p>
                        </div>

                        <div class="block_value">
                            <p class="block_value__text">Min %</p>

                            <input type="text" name="stickerOverpay" value="20" id="input-value">
                        </div>

                        <input type="range" name="stickerOverpay" min="0" max="100" value="20" id="range-value">
                    </div>
                </div>

                <div class="block_two_small">
                    <div class="small_block block_empty">
                        <div class="block_value">
                            <p class="block_value__text"></p>
                        </div>
                    </div>

                    <div class="small_block block_notifications">
                        <div class="text">
                            <p>Telegram notification</p>
                        </div>

                        <div class="block_value">
                            <p class="block_value__text">Chat id</p>

                            <input type="text" name="tg_chat_id" value="0" id="value">
                        </div>
                    </div>
                </div>

                <div class="block_one_big">
                    <div class="big_block"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="proxy.js"></script> -->
<script src="/js/localforage.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<script src="/js/sticker-parser/main.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/account.js"></script>
<script src="/js/sticker-parser/rightsidebar.js"></script>

</body>
</html>