header{
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #1C193A;
}

header .title{
    position: absolute;
    color: white;
    font-family: "Poppins Medium";
    left: 100px;
    top: 16px;
}
header .title h1{
    margin: 0;
}

header .header_left{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 30px;
}

header .header_left .button_burger{
    width: 23px;
    height: 20px;
}

header .header_left .button_burger img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



header .header_right{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 66px;
    width: 100%;
    padding-right: 40px;
}

body.lock header .header_right{
    margin-right: calc(var(--scrollbar-width) * 1px);
}


header .header_right .links{
    display: flex;
    align-items: center;
    gap: 35px;
}

header .header_right .links .link{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    color: white;
    font-family: "Poppins Medium";
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid white;
    padding: 0 12px 0 8px;
    transition: all .3s ease;
}

header .header_right .links .link:nth-child(1){
    min-width: 94px;
}

header .header_right .links .link:nth-child(2){
    gap: 8px;
    min-width: 120px;
}

header .header_right .links .link:nth-child(3){
    gap: 8px;
    min-width: 116px;
}

header .header_right .links .link span{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
}

header .header_right .links .link:hover{
    color: #1C193A;
    background-color: white;
}

header .header_right .links .link:active{
    transform: translate(0%, 2px);
}


header .header_right .button_account, .button_steam_account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 44px;
    color: white;
    font-family: "Poppins Medium";
    font-size: 16px;
    text-decoration: none;
    position: relative;
    z-index: 2;
    background-color: #424372;
    border-radius: 5px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.6);
    transition: all .3s ease;
}

header .header_right .button_account:hover, .button_steam_account:hover{
    background-color: #005eff;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
}

header .header_right .button_account:active, .button_steam_account:active{
    transform: translate(0%, 2px);
    box-shadow: none;
}

header .header_right .button_steam_account{
    background-color: #116588be;
}

header #popupBtn {
    border: 1px solid #A0A1B8;
    border-radius: 10px;
    background-color: #424372;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    z-index: 10; /* Set a high z-index to ensure it's above other elements */
}

header #popupBtn #closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: none; /* Make transparent */
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #a9a9a9; /* Adjust color as desired */
    cursor: pointer;
}
  
header #popupBtn #closeBtn:hover {
    color: black; /* Change color on hover */
}