@media only screen and (min-height : 900px){
    body.lock header .header_right{
        margin-right: 0;
    }
}

@media only screen and (max-width : 1400px){
    main .block_info {
        left: 80px;
    }
}

@media only screen and (max-width : 1300px){
    main .block_info {
        width: 1000px;
        left: 40px;
    }
}

@media only screen and (max-width : 1200px){
    main .block_info {
        width: 900px;
    }
}